/* prism theme adjustments */

.notion-code {
  background-color: var(--bg-color-1);
  border: 1px solid var(--fg-color-6);
  border-radius: 8px;
  padding: 1.25em !important;
}

.dark-mode .notion-code {
  background-color: var(--bg-color-0);
  border-color: var(--fg-color-6);
}

.notion code {
  color: var(--fg-color);
  border: 0 none !important;
  box-shadow: none !important;
  background: none !important;
  padding: 0 !important;
  font-size: 0.9em;
}

.dark-mode .notion code {
  color: var(--bg-color);
}

.dark-mode .notion .notion-inline-code {
  background: rgba(128, 128, 128, 0.15) !important;
  color: var(--fg-color-link);
  padding: 0.2em 0.4em !important;
  border-radius: 4px;
}

.notion .notion-inline-code {
  color: var(--fg-color-link);
  background: rgba(128, 128, 128, 0.08) !important;
  padding: 0.2em 0.4em !important;
  border-radius: 4px;
}

.token.cdata,
.token.doctype,
.token.prolog {
  color: #565f89;
}
.token.comment {
  color: #565f89;
  font-style: italic;
}
.dark-mode .token.cdata,
.dark-mode .token.doctype,
.dark-mode .token.prolog {
  color: #565f89;
}
.token.punctuation {
  color: #737aa2;
}
.dark-mode .token.punctuation {
  color: #737aa2;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #ff9e64;
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #9ece6a;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #89ddff;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #bb9af7;
}
.token.class-name,
.token.function {
  color: #7aa2f7;
}
.token.important,
.token.regex,
.token.variable {
  color: #ff9e64;
}
code[class*='language-'],
pre[class*='language-'] {
  color: var(--fg-color);
}
.dark-mode code[class*='language-'],
.dark-mode pre[class*='language-'] {
  color: var(--bg-color);
}
pre::-webkit-scrollbar {
  display: none;
}
pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.token.operator,
.token.entity,
.token.url,
.token.variable {
  background: none;
}

pre[class*='language-'] > code {
  border-left: 0 none !important;
  box-shadow: none !important;
  background: none !important;
}

pre[class*='language-']:before,
pre[class*='language-']:after {
  display: none !important;
}
